@{
    ViewBag.Title = "CRK.Avalicao";
}

<div class="hero-unit">
    <h1>Avaliacao Prática - Teste 04</h1>
    <!-- .logo -->
    <div class="logo">
        <span id="logo"><img class="logo-main scale-with-grid" src="http://crk.com.br/wp-content/uploads/2018/09/AF_LOGO_CRK_MEDIO.jpg" alt="Grupo CRK" /><img class="logo-sticky scale-with-grid" src="http://crk.com.br/wp-content/uploads/2018/09/AF_LOGO_CRK_MEDIO.jpg" alt="" /><img class="logo-mobile scale-with-grid" src="http://crk.com.br/wp-content/uploads/2018/09/AF_LOGO_CRK_MEDIO.jpg" alt="" /></span>
    </div>
</div>

<div class="row-fluid">
    <div class="span4">
        <h2>Cadastro</h2>
        <p>Cadastro de CDs </p>
        <p><a class="btn btn-large btn-primary" href="@Url.Action("Index", "Cadastro")">Cadastro de Cds &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="span4">
        <h2>Consulta</h2>
        <p>Consulta de CDs</p>
        <p><a class="btn btn-large btn-primary" href="@Url.Action("Index", "Consulta")">Consulta de Cds &raquo;</a></p>
    </div>
</div>